.Form label {
    display: block;
    margin: 5px;
}

.Wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    margin-top: 96px;
}

.Container {
    display: block;
    width: 100%;
}

.SubmitBtn, select {
    height: 35px;
    width: 432px;
    padding: 0 4px;
    margin-bottom: 12px;
}

.SubmitBtn {
    background-color: #276afb;
    color: #ffffff;
    outline: none;
    border: 1px solid #000;
    font-weight: bolder;
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

.SubmitBtn:hover {
    background-color: #f00946;
}

input {
    height: 31px;
    width: 420px;
    padding: 0 4px;
    margin-bottom: 12px;
}

.DummyLabel {
    margin-top: 5px;
}

.ImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ImgContainer img {
    height: 250px;
    width: 250px;
}

@media screen and (max-width: 768px) {
    .SubmitBtn, select {
        height: 35px;
        width: 332px;
    }
    input {
        height: 31px;
        width: 320px;
    }
    .ImgContainer img {
        height: 170px;
        width: 210px;
    }
}

@media screen and (max-width: 426px) {
    .SubmitBtn, select {
        height: 35px;
        width: 252px;
    }
    input {
        height: 31px;
        width: 240px;
    }
    .ImgContainer img {
        height: 170px;
        width: 210px;
    }
}

@media screen and (max-width: 376px) {
    .SubmitBtn, select {
        height: 35px;
        width: 232px;
    }
    input {
        height: 31px;
        width: 220px;
    }
    .ImgContainer img {
        height: 170px;
        width: 190px;
    }
}

@media screen and (max-width: 320px) {
    .SubmitBtn, select {
        height: 35px;
        width: 212px;
    }
    input {
        height: 31px;
        width: 200px;
    }
    .ImgContainer img {
        height: 150px;
        width: 170px;
    }
}