.FooterSection a {
    text-decoration: none;
    color: #f00946;
    font-weight: bolder;
}

.FooterSection {
    width: 100%;
    text-align: center;
    font-size: 19px;
    line-height: 24px;
    word-spacing: 3px;
}

.FooterSection a:hover {
    font-size: 21px;
    transition: font-size 0.2s;
}